<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Producto</title>
    <!-- Estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Detalles del Producto</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="'Nombre: ' + ${producto.nombreProducto}">Nombre del Producto</h5>
                <p class="card-text" th:text="'Precio: S/ ' + ${producto.precio}"></p>
                <p class="card-text" th:text="'Stock: ' + ${producto.stock}"></p>
                <p class="card-text" th:text="'Categoría: ' + ${producto.categoriaEntity.nombreCat}"></p> <!-- Asegúrate de que esta propiedad existe en tu entidad -->
                
                <a th:href="@{/lista}" class="btn btn-secondary">Regresar</a>
                <a th:href="@{/delete/{id}(id=${producto.idProducto})}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</body>
</html>
