<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-between align-items-center mb-4">
			                <h2 class="display-4">Editar Producto</h2>
			                <div class="d-flex align-items-center">		                    
			                    <div>
			                        <a class="btn btn-warning" th:href="@{/logout}" role="button">Cerrar sesión</a>
			                    </div>
			                </div>
			            </div>
    <form th:action="@{/editar_producto/{id}(id=${producto.id})}" th:object="${producto}" method="post"> <!-- Cambiado idProducto por id -->
        <div class="form-group">
            <label for="nombreProducto">Nombre del Producto:</label>
            <input type="text" th:field="*{nombreProducto}" class="form-control" id="nombreProducto" required>
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" th:field="*{precio}" class="form-control" id="precio" required step="0.01">
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" th:field="*{stock}" class="form-control" id="stock" required>
        </div>
		<div class="form-group">
		    <label for="categoria">Categoría:</label>
		    <select th:field="*{categoriaEntity}" class="form-control" id="categoria" required>
		        <option th:each="categoria : ${listaCategoria}" 
		                th:value="${categoria.catId}" 
		                th:text="${categoria.nombreCat}" 
		                th:selected="${producto.categoriaEntity.catId == categoria.catId}"></option>
		    </select>
		</div>

        <a th:href="@{/lista}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
</body>
</html>
